/*通用样式*/
body{
    margin:0;
    padding:0;
    color:#363636;
}
a{
    color:#363636;
    text-decoration: none;
}
ul{
    list-style:none;
    margin:0;
}
.left{
    float:left;
}
.right{
    float:right;
}
.head-content{
    background-image: url(../img/img12.png);
    background-repeat: no-repeat;
    margin:40px auto;
}
.home-section{
    padding:70px 0;
    text-align: center;
}
/*导航栏*/
nav{
    width:100%;
    height:56px;
    line-height:56px;
    position:fixed;
    z-index: 444;
    background:rgba(255,255,255,0.9);
}
.home-left{
    line-height:56px;
    padding-left:30px;
}
.home-left h4 {
    width: 82px;
    height: 22px;
    background: url(../img/img19.png);
}
.home-left p{
    margin:0;
    width:114px;
    height:25px;
    background: url(../img/img12.png) 0px -899px;
    color:#fff;
    font-size:14px;
    padding-left:40px;
    line-height:25px;
    margin-top:20px;
}
.home-right>li{
    height:55px;
    line-height:55px;
    margin-right:40px;
    float:left;
    font-size:12pt;
}
.home-right>li>a:hover{
    color:#79A8D6;
}
.active a{
    color:#79A8D6;
}
.home-right>li:last-child>a{
    padding:5px 10px;
    border:1px solid #363636;
    border-radius:5px;
}
.home-right>li:last-child>a:hover{
    background:#363636;
    color:#fff;
}
.download-app{
    position:relative;
}
.download-app:hover div{
    display: block;
}
.download-app>div{
    display:none;
    position:absolute;
    top:50px;
    left:-45px;
    height: 170px;
    width: 150px;
    padding: 15px 0 12px 0;
    background-color: #FFF;
    text-align: center;
    border: 1px solid #f3f3f3;
    box-shadow: 0 0 3px #ccc;
    line-height:20px;
    font-size:14px;
}
/*home-begin*/
.home-begin{
    padding-top:100px;
    position:relative;
    text-align: center;
    border-bottom:2px solid #DFDFDF;
}
.begin-inner1{
    background-image: linear-gradient(to bottom,#fff,#f6f6f6);
    padding:30px 20px;
    min-height:470px;
    display:none;
}
.begin-reg{
    width:320px;
    height:100px
    font-size:22px;
    letter-spacing: 1px;
    margin:100px 100px 0  170px;
}
.begin-reg>a{
    display:inline-block;
    width:130px;
    height:30px;
    border-radius: 5px;
    background:#363636;
    color:#fff;
    margin:20px auto;
    line-height:30px;
}
.begin-img{
    margin-right:40px;
}
.begin-circle>b{
    display:inline-block;
    width:10px;
    height:10px;
    background: #363636;
    border-radius:50%;
    position:absolute;
    top:90%;
}
.begin-prev{
    left:49%;
}
.begin-next{
    left:51%;
}
.begin-inner2{
    padding-top:30px;
    width:100%;
    min-height:470px;
    background:url(../img/img6.png) no-repeat right center;
}
.begin-inner2  .begin-reg>h1{
    width:370px;
    height:50px;
    background:url(../img/img12.png) no-repeat -15px -378px;
}
.begin-inner2 .begin-reg{
    margin-left:170px;
    text-align:left;
}
.begin-inner2  .begin-reg>p{
    font-size:22px;
    width:490px;
}
.begin-inner2 .begin-img>img{
    margin-right:150px;
}
.begin-inner2  .begin-reg>button{
    width:190px;
    height:40px;
    border:none;
    border-radius:5px;
    background:#22A5FA;
    color:#fff;
    font-size:14px;
}
.begin-inner2  .begin-reg>button:hover{
    background:#0B96F2;
}
/*home-dingtalk*/
.home-dingtalk{
    text-align:center;
    border-bottom:2px solid #DFDFDF;
}
.home-dingtalk>h1{
     width:370px;
     height:50px;
     background:url(../img/img12.png) no-repeat -15px -432px;
     margin:auto;
 }
.home-dingtalk>p{
    margin:30px auto;
}
 .home-dingtalk>a{
     padding:5px 30px;
     border:1px solid #363636;
     border-radius:5px;
 }
.home-dingtalk>a:hover{
    color:#fff;
    background:#363636;
}
/*what*/
.home-what{
    text-align: center;
}
.home-what .head-content{
    width:230px;
    height:35px;
    background-position: -15px -100px;
}
.what-img{
    margin:20px auto;
    height:450px;
    padding-top:30px;
}
.what-txt{
    width:60%;
   height:150px;
    margin:auto;
    font-size:16px;
}
.what-txt>span{
    display:inline-block;
    padding:5px 40px;
    margin:10px 40px;
    background: url(../img/img12.png) no-repeat -144px -18px;
}
/*do*/
.home-do .head-content{
    width:920px;
    height:35px;
    background-position: -15px -138px;
}
.do-container>h1>b{
    display:inline-block;
    width:90px;
    height:30px;
    margin:0 20px;
    background-image:url(../img/img12.png);
    background-repeat: no-repeat;
}
.do-container>h1>b:nth-child(1){
    background-position: -257px -92px;
}
.do-container>h1>b:nth-child(1):hover{
    background-position: -357px -92px;
}
.do-container>h1>b:nth-child(2){
    background-position: -447px -89px;
}
.do-container>h1>b:nth-child(2):hover{
    background-position: -527px -90px;
}
.do-container>h1>b:nth-child(3){
    background-position: -613px -89px;
}
.do-container>h1>b:nth-child(3):hover{
    background-position: -713px -89px;
}
/*do-bottom*/
.do-bottom .head-content{
    width:200px;
    height:26px;
    background-position: -276px -57px;
}
.bottom-sec{
    overflow: hidden;
    width:850px;
    margin: auto;
}
.bottom-item{
    margin-right:25px;
}
/*home-safe*/
.home-safe .head-content{
    height:35px;
    width:920px;
    background-position: -15px -178px;;
}
.safe-sec{
    width:800px;
    margin:auto;
}
.safe-item{
    padding:10px;
    width:30%;
}
.safe-item>span{
    font-size:13px;
    color:#666;
    letter-spacing: 1px;
}
.safe-item>h1 {
    margin: 30px auto;
}
.safe-item>h2{
    width:90px;
    height:90px;
    margin:auto;
}
.safe-bg1{
    background:url(../img/img12.png) no-repeat -400px -380px;
}
.safe-bg2{
    background:url(../img/img12.png) no-repeat -520px -380px;
}
.safe-bg3{
    background:url(../img/img12.png) no-repeat -640px -380px;
}
/*evaluate*/
.home-evaluate{
    clear:both;
    padding-bottom:0;
}
.home-evaluate .head-content{
    height:35px;
    width:920px;
    background-position: -15px -212px;;
}
.eval-sec{
    overflow: hidden;
    padding:20px 100px;
    position: relative;
}
.eval-txt{
    width:65%;
    height:150px;
    font-size:19px;
    letter-spacing: 3px;
    color:#464646;
    margin:auto;
}
.eval-client>img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-right:10px;
}
.eval-clients{
    width:65%;
    text-align: left;
    overflow: hidden;
    margin:auto;
}
.eval-client{
    width:28%;
    padding:20px;
    transition:opacity 0.2s linear;
}
.eval-client b{
    font-size: larger;
}
.eval-client span{
    font-size:13px;
    color:#464646;
}
.eval-client:hover{
    opacity: 0.7;
}
.eval-bg{
    position: absolute;
    width: 42px;
    height: 35px;
    background-position: -480px -45px;
    left: 250px;
    top: 0px;
    background-image: url(../img/img1.png);
}
/*sync*/
.home-sync .head-content{
    width:920px;
    height:35px;
    background-position: -31px -260px;
}
.home-sync>p{
    margin:40px auto;
}
.home-sync span{
    font-size:22px;
    padding:5px 20px;
}
/*partners*/
.home-partners .head-content{
    width:920px;
    height:35px;
    background-position: -31px -293px;
}
.part-contain{
    position: relative;
}
.part-contain>img{
    margin-top:40px;
}
.part-contain>span{
    display: inline-block;
    width:8px;
    height:8px;
    background: #363636;
    border-radius:50%;
    cursor:pointer;
    position:absolute;
    top:80%;
}
span.part-prev{
    left:49%;
}
span.part-next{
    left:51%;
}
.part-bot .head-content{
    width:920px;
    height:35px;
    background-position: -31px -338px;
}
.part-bot>img{
    margin:30px auto;
}/*footer*/
.footer{
    background:#272727;
    text-align: center;
    color:#fff;
}
.foot-contain{
    width:100%;
    padding:180px 0;
}
.foot-contain input{
    width:230px;
    height:32px;
    color:#72767A;
    border:1px solid #72767A;
    padding:0 10px;
    background:#272727;
    border-radius:3px;
}
.foot-contain button{
    padding:10px 40px;
    background:#41464B;
    color:#fff;
    border:none;
    border-radius:3px;
}
.foot-contain button:hover{
    background:#292F35;
}
.foot-bot{
    width:70%;
    margin:auto;
    padding:30px 0;
    height:40px;
}
.foot-bot>li{
    margin-right:10px;
    float:left;
    height:50px;
    line-height:50px;
}
.foot-bot>li a{
    display: inline-block;
    width:130px;
    color:#fff;
    letter-spacing: 1px;
}
.foot-bot>li a:hover{
    font-weight: bold;
}
.foot-bot>li>b{
    display: inline-block;
    width: 140px;
    height: 50px;
    margin:0 20px;
    background: url(../img/img20.png) no-repeat -141px -28px;
}
.foot-bot>li>b:hover{
    background: url(../img/img20.png) no-repeat -283px -28px;
}
.contact-wchat{
    position: relative;
}
.contact-wchat>img{
    position:absolute;
    top:-130px;
    left:3px;
    display:none;
}
.contact-wchat:hover img{
    display:block;
}